<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Counter</title>
</head>

<body>
    <div class="container">
        <h1>Counter</h1>
        <p>{{session["counts"]}} times</p>
        <form action="/addbuttons" method="post">
            <button type="submit" name="change" value="add">Add 2</button>
            <button type="submit"name="change" value="reset">Reset</button>
        </form>
    </div>
</body>

</html>